$A: #a4ceee;
$B: #dfbff0;
$C: #a3e4be;
$D: #ebd6b6;
$E: #b7e28f;

.swal2-styled:focus {
  box-shadow:none !important;
}
.product_container,.booking_conrainer {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 50px;
}
.product_content {
  h3 {
    margin-left: 10px;
    font-weight: 300;
    color: darken($D, 8%);
  }
}
.products_list {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lighten($A,6%);
  width: 250px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.product_image {
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
.product_text {
  padding: 8px;
  font-size: 12px;
  font-weight: 300;
  h3 {
    font-size: 16px;
    font-weight: 300;
    color: darken($D, 8%);
    margin-bottom: 8px;
  }
}
.product_price {
  font-size: 16px;
  font-weight: 300;
  color: darken($D, 8%);
  margin-right: 8px;
}
.product_details {
  color: $A;
}
.product_price,.addcart-btn {
  display: flex;
  justify-content: flex-end;
}
.addcart-btn {
 margin: 8px;
 border-radius: 5px;
 input {
  padding-top: 5px;
  padding-bottom: 5px;
   background-color: $B;
   color: #FFF;
   letter-spacing: 1.8px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   &:hover {
     background-color: $D;
   }
 }
}
.cart_table {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  // tr {
  //   padding: 10px;
  // }
  th {
    width: 22%;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: $A;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  td {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: darken($D, 8%);
    padding-bottom: 8px;
    button {
      font-size: 11px;
      font-weight: 300;
      background-color: #fff;
      border: 1px solid darken($D, 8%);
      border-radius: 5px;
      color: darken($D, 8%);
      letter-spacing: 2px;
      cursor: pointer;
      &:hover {
        border: 1px solid darken($C, 8%);
        color: darken($C, 8%);
      }
    }
  }
}
.line {
  height: 1px;
  width: 90%;
  background-color: lighten($D, 3%);
}
.center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.checkout_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 10px;
  a {
    color: $B;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid $B;
    padding: 6px;
    border-radius: 5px;
    &:hover {
      border: 1px solid $A;
      background-color: $A;
      color: #fff;
    }
  }
}
.message {
  font-size: 11px;
  font-weight: 300;
  color: #f49f9f;
}
.product-filters {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 20px;
  li {
    display: flex;
    align-items: center;
    margin-left: 50px;
    p {
      font-size: 12px;
      font-weight: 300;
      color: $D;
      margin-right: 9px;
    }
    select,input {
    letter-spacing: 2px;
    border: 1px solid $D;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    color: $D;
    }
  }
}
.searchBTN {
  margin-left: 5px;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: $D;
    color: #fff;
  }
}